.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--BACKGROUND);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*:focus {
  outline: none;
}

.topNav {
  background-color: #252A2A;
  width: 100%;
  height: 100px;
  top: 0px;
  margin-bottom: 5%;
}

.dayPicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
}

.day {
  width: 185px;
  font-weight: 500;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow  {
  margin: 10px;
  font-weight: 500;
  font-size: 30px;
  background: none;
  border: none;
}

.arrow:hover {
  filter: brightness(150%);
}

input {
  border: none;
  border-radius: 12px;
  position: relative;
  font-family: Poppins;
  padding: 2%;
}

.taskCreator {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 602px;
  padding: 2%;
  margin: 0px;
}

.taskCreator .top {
  display: flex;
  position: relative;
  margin-bottom: 2.5%;
}

.taskCreator .bottom {
  display: flex;
  position: relative;
  justify-content: center;
}

.colorSelector {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 48.5%;
  margin: 0.5%;
  border: none;
  border-radius: 12px;
  position: relative;
}

.color {
  flex: 1 0 auto;
  background-color: aliceblue;
  height: auto;
  margin: 2%;
  border-radius: 30%;
}

.selected {
  border: 2px solid white;
}

.color::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.color1 {
  margin: 0px;
  background-color: var(--RED);
}

.titleInput {
  width: 48.5%;
  margin: 0.5%;
  font-size: 20px;
  font-weight: 600;
}

.taskInput {
  width: 100%;
  resize: none;
  height: 40px;
  margin: 0.5%;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  position: relative;
  font-family: Poppins;
  padding: 4%;
}

.add {
  height: auto;
  margin: 0.5%;
  width: 20%;
  border: none;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.add:hover {
  filter: brightness(0.75);
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 60%;
  max-width: 602px;
  height: auto;
  max-height: 400px;
  padding: 2%;
  border-radius: 30px;
  margin-bottom: 2%;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px #00000040;
}
.list::-webkit-scrollbar {
  visibility: hidden;
}


.task {
  color: #FFF;
  display: block;
  text-align: left;
  width: 95%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 20px;
  height: fit-content;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;

}


.task h2, .task p {
  margin: 0px;
}

.task p {
  display: block;
  overflow-wrap: break-word;
}

.taskButton {
  margin: -10px;
  background: none;
  border: none;
  color: #FFF;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.5;
  transition: 0.3s;
}

.taskButton:hover {
  opacity: 1;
}

select {
  border-radius: 5%;
  border: none;
  font-size: medium;
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Decrease font size for smaller screens */
  }

  .day {
    font-size: 20px; /* Decrease font size for day */
  }

  .titleInput {
    font-size: 16px; /* Decrease font size for title input */
  }

  .taskInput {
    height: 30px; /* Decrease input height */
  }

  .taskCreator {
    width: 80%; /* Decrease width of task creator */
  }

  .colorSelector {
    width: 45%; /* Decrease width of color selector */
  }

  .color {
    margin: 1%; /* Adjust margin for colors */
  }

  .list {
    width: 80%; /* Decrease width of list */
  }

  .task {
    width: 90%; /* Decrease width of task */
  }
}

@media only screen and (max-width: 400px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Decrease font size for smaller screens */
  }

  .day {
    font-size: 20px; /* Decrease font size for day */
  }

  .titleInput {
    font-size: 10px; /* Decrease font size for title input */
  }

  .taskInput {
    height: 30px; /* Decrease input height */
  }

  .top {
    height: 2%;
  }

  .taskCreator {
    width: 80%; /* Decrease width of task creator */
    height: 20%;
  }

  .colorSelector {
    width: 45%;
  }

  .color {
    margin: 1%; /* Adjust margin for colors */
  }

  .list {
    width: 80%; /* Decrease width of list */
  }

  .task {
    width: 90%; /* Decrease width of task */
  }
}
